@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Rancho);
body {
  background-color: #fff; }
  body img {
    max-width: 100%; }
  body .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2.5% 2.5% 2.5%; }
  body .header {
    margin-bottom: 2rem; }
    body .header .top-images {
      position: relative; }
      body .header .top-images div.bx-wrapper {
        margin-top: 25px;
        max-width: 1200px;
        position: relative;
        z-index: 1; }
        body .header .top-images div.bx-wrapper .bx-viewport {
          box-shadow: none;
          border: none; }
      body .header .top-images .logo-container {
        text-align: center;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 5px; }
        body .header .top-images .logo-container img {
          max-width: 60%; }
          @media (max-width: 900px) {
            body .header .top-images .logo-container img {
              max-width: 90%; } }
        @media (max-width: 500px) {
          body .header .top-images .logo-container {
            width: 100%; } }
      body .header .top-images .header-drawings-left, body .header .top-images .header-drawings-right {
        float: left;
        text-align: left;
        width: 15%; }
        body .header .top-images .header-drawings-left img, body .header .top-images .header-drawings-right img {
          max-width: 90%; }
        @media (max-width: 500px) {
          body .header .top-images .header-drawings-left, body .header .top-images .header-drawings-right {
            display: none; } }
      body .header .top-images .header-drawings-right {
        text-align: right; }
    body .header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      body .header nav ul li {
        float: left;
        width: 8rem;
        list-style: none;
        margin-right: 5%;
        font-family: Chewy, helvetica, arial;
        font-size: 2rem; }
        body .header nav ul li:last-of-type {
          margin-right: 0; }
        body .header nav ul li a {
          text-decoration: none;
          color: purple; }
          body .header nav ul li a:hover, body .header nav ul li a:active {
            color: red; }
  body .homepage-slider {
    width: 70%;
    float: left;
    margin-bottom: 5%; }
    @media (max-width: 900px) {
      body .homepage-slider {
        width: 100%;
        float: none; } }
    body .homepage-slider .bxslider img {
      margin: 0 auto; }
  body .homepage-callout {
    width: 28%;
    float: left;
    padding: 0 0 0 2%;
    font-family: rancho, helvetica, sans-serif; }
    body .homepage-callout .penguin {
      width: 60%;
      margin: 0 auto; }
      body .homepage-callout .penguin img {
        width: 80%; }
    body .homepage-callout .triangle-obtuse {
      position: relative;
      padding: 15px;
      margin: 0 0 1em;
      color: #fff;
      font-size: 1.8rem;
      line-height: 2.4rem;
      background: #c81e2b;
      /* css3 */
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#f04349), to(#c81e2b));
      background: -webkit-linear-gradient(#f04349, #c81e2b);
      background: linear-gradient(#f04349, #c81e2b);
      border-radius: 10px; }
    body .homepage-callout .triangle-obtuse:before {
      content: "";
      position: absolute;
      bottom: -20px;
      /* value = - border-top-width - border-bottom-width */
      left: 60px;
      /* controls horizontal position */
      border: 0;
      border-right-width: 30px;
      /* vary this value to change the angle of the vertex */
      border-bottom-width: 20px;
      /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
      border-style: solid;
      border-color: transparent #c81e2b;
      /* reduce the damage in FF3.0 */
      display: block;
      width: 0; }
    @media (max-width: 900px) {
      body .homepage-callout {
        float: right; } }
  body .homepage-text {
    font-family: arial, sans-serif;
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 80%;
    margin: 5% auto 0 auto;
    display: block;
    clear: left; }
    body .homepage-text h1 {
      display: inline-block;
      color: green;
      font-family: rancho, helvetica, sans-serif;
      font-size: 3rem;
      line-height: 2.4rem;
      margin: 0; }
    @media (max-width: 900px) {
      body .homepage-text {
        width: 70%;
        margin: 0;
        float: right;
        display: inline-block; } }
  body .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4%; }
    body .footer .facebook-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      float: left; }
      body .footer .facebook-wrapper .snail {
        display: inline-block;
        float: left; }
        body .footer .facebook-wrapper .snail img {
          max-width: 90%; }
      body .footer .facebook-wrapper .facebook-bubble {
        float: left; }
        body .footer .facebook-wrapper .facebook-bubble .triangle-isosceles {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          position: relative;
          padding: 15px;
          margin: 0;
          color: #ffffff;
          font-size: 1.85rem;
          line-height: 2rem;
          font-family: Chewy, helvetica, arial;
          border-radius: 10px;
          margin-left: 50px;
          background: #f3961c; }
          @media (max-width: 500px) {
            body .footer .facebook-wrapper .facebook-bubble .triangle-isosceles {
              font-size: 1.4rem;
              line-height: 1.4rem;
              margin-left: 15px; } }
          body .footer .facebook-wrapper .facebook-bubble .triangle-isosceles img {
            display: inline-block;
            float: left; }
        body .footer .facebook-wrapper .facebook-bubble .triangle-isosceles:after {
          content: "";
          position: absolute;
          bottom: -15px;
          /* value = - border-top-width - border-bottom-width */
          left: 50px;
          /* controls horizontal position */
          border-width: 15px 15px 0;
          /* vary these values to change the angle of the vertex */
          border-style: solid;
          border-color: #f3961c transparent;
          /* reduce the damage in FF3.0 */
          display: block;
          width: 0;
          top: 30px;
          /* controls vertical position */
          left: -50px;
          /* value = - border-left-width - border-right-width */
          bottom: auto;
          border-width: 10px 50px 10px 0;
          border-color: transparent #f3961c; }
          @media (max-width: 500px) {
            body .footer .facebook-wrapper .facebook-bubble .triangle-isosceles:after {
              left: -30px;
              border-width: 10px 30px 10px 0; } }
    body .footer .copyright {
      float: left;
      margin-left: 30px; }
      @media (max-width: 500px) {
        body .footer .copyright {
          float: none;
          margin-left: 0;
          text-align: center; } }
  body .group:after {
    content: "";
    display: table;
    clear: both; }
  body .slicknav_menu {
    display: none;
    background-color: #ffffff; }
  body .slicknav_btn {
    background-color: purple; }
  body .slicknav_nav {
    text-align: center; }
    body .slicknav_nav li {
      font-size: 1.5rem;
      margin-bottom: 10%; }
      body .slicknav_nav li a {
        color: purple;
        font-family: Chewy, helvetica, arial; }
        body .slicknav_nav li a:hover, body .slicknav_nav li a:active {
          color: red; }
  @media screen and (max-width: 500px) {
    body {
      /* #menu is the original menu */ }
      body #menu {
        display: none; }
      body .slicknav_menu {
        display: block; } }
