@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Rancho);


// Begin Mixins

@mixin mobile {
   @media (max-width: 500px) {
       @content;
   }
}

@mixin tablet {
   @media (max-width: 900px) {
       @content;
   }
}

//  End Mixins




body {
	background-color: #fff;

	img {
		max-width: 100%;
	}	

	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 2.5% 2.5% 2.5%;
	}

	.header {

		margin-bottom: 2rem;

		.top-images {

			display: flex;
			align-items: center;

			.logo-container {
				float: left;
				text-align: center;
				width: 70%;

				img {
					max-width: 60%;

					@include tablet {
						max-width: 90%;
					}
				}

				@include mobile {
					width: 100%;
				}
			}  // logo-container	

			.header-drawings-left, .header-drawings-right {
				float: left;
				text-align: left;
				width: 15%;				

				img {
					max-width: 90%;
				}

				@include mobile {
					display: none;
				}

			}  // header-drawings-left, header-drawings-right

			.header-drawings-right {
				text-align: right;
			}

		}  //  top-images	

		nav {

			ul {

				display: flex;
				justify-content: center;	

				li {
					
					float: left;
					width: 8rem;
					list-style: none;
					margin-right: 5%;
					font-family: Chewy, helvetica, arial;
					font-size: 2rem;

					&:last-of-type {
						margin-right: 0;
					}

					a {
						text-decoration: none;
						color: purple;

						&:hover, &:active {
							color: red;
						}
					}
				}  //  li
			} // ul
		} // nav	

	}  // header

	

	.homepage-slider {
		width: 70%;
		float: left;
		margin-bottom: 5%;

		@include tablet {
			width: 100%;
			float: none;
		}
	}

	.homepage-callout {
		width: 28%;
		float: left;
		padding: 0 0 0 2%;
		font-family: rancho, helvetica, sans-serif;
		
		.penguin {
			width: 60%;
			margin: 0 auto;

			img {
				width: 80%;
			}
		}

		.triangle-obtuse {
			position:relative;
			padding:15px;
			margin:0 0 1em;
			color:#fff;
			font-size: 1.8rem;
			line-height: 2.4rem;
			background:#c81e2b;
			/* css3 */
			background:-webkit-gradient(linear, 0 0, 0 100%, from(#f04349), to(#c81e2b));
			background:-moz-linear-gradient(#f04349, #c81e2b);
			background:-o-linear-gradient(#f04349, #c81e2b);
			background:linear-gradient(#f04349, #c81e2b);
			-webkit-border-radius:10px;
			-moz-border-radius:10px;
			border-radius:10px;
		}  //  triangle-obtuse

		.triangle-obtuse:before {
			content:"";
			position:absolute;
			bottom:-20px; /* value = - border-top-width - border-bottom-width */
			left:60px; /* controls horizontal position */
			border:0;
			border-right-width:30px; /* vary this value to change the angle of the vertex */
			border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
			border-style:solid;
			border-color:transparent #c81e2b;
			/* reduce the damage in FF3.0 */
			display:block;
			width:0;
		}  // triangle-obtuse:before

		@include tablet {
			float: right;
		}


	}  //  closes homepage-callout

	.homepage-text {

		font-family: arial, sans-serif;
	 	font-size: 1.8rem;
	 	line-height: 2.4rem;
	 	width: 80%;
	 	margin: 5% auto 0 auto;
	 	display: block;
	 	clear:left;

		h1 {
		 	display: inline-block;
		 	color: green;
		 	font-family: rancho, helvetica, sans-serif;
		 	font-size: 3rem;
		 	line-height: 2.4rem;
		 	margin: 0;
		}

		@include tablet {
			width: 70%;
			margin: 0;
			float: right;
			display: inline-block;
		}

		 

	}  //  homepage-text

	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 4%;

		.facebook-wrapper {
			display: flex;
			align-items: center;
			float: left;

			.snail {
				display: inline-block;
				float: left;

				img {
					max-width: 90%;
				}
			}	

			.facebook-bubble {
				float: left;


				.triangle-isosceles {
					display: flex;
					align-items: center;
					position:relative;
					padding:15px;
					margin:0;
					color:#ffffff;
					font-size: 1.85rem;
					line-height: 2rem;
					font-family: Chewy, helvetica, arial; 
					-webkit-border-radius:10px;
					-moz-border-radius:10px;
					border-radius:10px;
					margin-left:50px;
					background:#f3961c;

					@include mobile {
						font-size: 1.4rem;
						line-height: 1.4rem;
						margin-left: 15px;
					}

					img {
						display: inline-block;
						float: left;

						
					}
				}

				.triangle-isosceles:after {
					content:"";
					position:absolute;
					bottom:-15px; /* value = - border-top-width - border-bottom-width */
					left:50px; /* controls horizontal position */
					border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
					border-style:solid;
					border-color:#f3961c transparent;
					/* reduce the damage in FF3.0 */
					display:block;
					width:0;
					top:30px; /* controls vertical position */
					left:-50px; /* value = - border-left-width - border-right-width */
					bottom:auto;
					border-width:10px 50px 10px 0;
					border-color:transparent #f3961c;

					@include mobile {
						left: -30px;
						border-width: 10px 30px 10px 0;
					}
				}

			}  // facebook-bubble

			
		}  // facebook-wrapper

		.copyright {
			float: left;
			margin-left: 30px;

			@include mobile {
				float: none;
				margin-left: 0;
				text-align: center;
			}
		}
	}  //  footer

	
	

	.group:after {
	  content: "";
	  display: table;
	  clear: both;

	}

	.slicknav_menu {
		display:none;
		background-color: #ffffff;
	}

	.slicknav_btn {
		background-color: purple;
	}

	.slicknav_nav {

		text-align: center;
		
		li {

			font-size: 1.5rem;
			margin-bottom: 10%;	

			a {
				color: purple;
				font-family: Chewy, helvetica, arial; 

				&:hover, &:active {

					color: red;
				}

			}
		}  // li

		
	}  // slicknav_nav

	@media screen and (max-width: 500px) {
		/* #menu is the original menu */
		#menu {
			display:none;
		}
		
		.slicknav_menu {
			display:block;
		}
	}


} // closes body