@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);


// Begin Mixins

@mixin mobile {
   @media (max-width: 500px) {
       @content;
   }
}

@mixin mobile-plus {
	@media (max-width: 600px) {
       @content;
   }
}

@mixin tablet {
   @media (max-width: 900px) {
       @content;
   }
}

//  End Mixins




body {
	background-color: #fff;

	img {
		max-width: 100%;
	}	

	.circle-image {
		border-radius: 50%;
	}

	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 2.5% 2.5% 2.5%;
	}

	.header {

		margin-bottom: 2rem;

		.top-images {

			position: relative;

			div.bx-wrapper {
				margin-top: 25px;
				max-width: 1200px;
				position: relative;
				z-index: 1;


				

				.bx-viewport {
					box-shadow: none;
					border: none;
					min-height: 170px;

					@include mobile {
						min-height: 80px;
					}	


				}
			}

			.bxslider-header {
				

				
			}  //  bxslider-header

			.logo-container {
				//float: left;
				text-align: center;
				width: 100%;
				position: absolute;
				z-index: 2;
				top: 5px;

				img {
					max-width: 60%;

					@include tablet {
						max-width: 70%;
					}
				}


				@include mobile {
					
					top: 0;
				}
			}  // logo-container	

			.header-drawings-left, .header-drawings-right {
				float: left;
				text-align: left;
				width: 15%;				

				img {
					max-width: 90%;
				}

				@include mobile {
					display: none;
				}

			}  // header-drawings-left, header-drawings-right

			.header-drawings-right {
				text-align: right;
			}

		}  //  top-images	

		nav {

			ul {

				display: flex;
				justify-content: center;

				@include tablet {
					padding-left: 0;
				}	

				li {
					
					float: left;
					//width: 8rem;
					list-style: none;
					margin-right: 7.5%;
					font-family: Chewy, helvetica, arial;
					font-size: 2rem;

					&:last-of-type {
						margin-right: 0;
					}

					@include tablet {
						font-size: 1.65rem;
						margin-right: 5%;
					}

					a {
						text-decoration: none;
						color: purple;

						&:hover, &:active {
							color: red;
						}
					}

					&:hover > ul, &:active > ul {
						display: block;
					}
				}  //  li

				ul {
					display: none;
				}
			} // ul

		} // nav	

			


	}  // header

	

	.content-container {

		font-family: helvetica, arial, sans-serif;

		.homepage-slider {
			width: 70%;
			float: left;
			margin-bottom: 5%;

			@include tablet {
				width: 100%;
				float: none;
			}

			.bxslider {

				img {
					margin: 0 auto;
				}
			}
		}  //  homepage-slider

		.homepage-callout {
			width: 28%;
			float: left;
			padding: 0 0 0 2%;
			
			
			.penguin {
				width: 60%;
				margin: 0 auto;

				img {
					width: 80%;
				
				}

				@include tablet {
					width: 90%;

				}

				@include mobile {
					text-align: right;
				}
			}  //  penguin

			.triangle-obtuse {
				position:relative;
				padding:15px;
				margin:0 0 1em;
				color:#fff;
				font-size: 2rem;
				line-height: 2.5rem;
				background:#f3961c;
				border-radius:10px;
				font-family: 'Coming Soon', arial, sans-serif;

				@include tablet {
					font-size: 1.2rem;
					line-height: 1.8rem;
					padding: 10px;
				}

				@include mobile {
					font-size: 1rem;
					line-height: 1.5rem;
					padding: 8px;
				}
			}  //  triangle-obtuse

			.triangle-obtuse:before {
				content:"";
				position:absolute;
				bottom:-20px; /* value = - border-top-width - border-bottom-width */
				left:60px; /* controls horizontal position */
				border:0;
				border-right-width:30px; /* vary this value to change the angle of the vertex */
				border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
				border-style:solid;
				border-color:transparent #f3961c;
				/* reduce the damage in FF3.0 */
				display:block;
				width:0;

				@include tablet {
					left: 6px;
				}

			}  // triangle-obtuse:before

			@include tablet {
				float: right;
			}


		}  //  closes homepage-callout

		.homepage-text {

			font-family: arial, sans-serif;
		 	font-size: 1.4rem;
		 	line-height: 2rem;
		 	width: 80%;
		 	margin: 5% auto 0 auto;
		 	display: block;
		 	clear:left;

			h1 {
			 	display: inline-block;
			 	color: green;
			 	font-family: 'coming soon', helvetica, sans-serif;
			 	font-size: 3rem;
			 	line-height: 3.4rem;
			 	margin: 0;

			 	@include tablet {
			 		font-size: 2.5rem;
			 		line-height: 3rem;
			 	}

			 	@include mobile {
			 		font-size: 2rem;
			 		line-height: 2.5rem;
			 	}
			}

			@include tablet {
				width: 70%;
				margin: 0;
				float: right;
				display: inline-block;
				font-size: 1.2rem;
				line-height: 1.8rem;
			}

			 

		}  //  homepage-text

		.video-wrapper {
			max-width: 70%;
			margin: 7% auto;
		}

		.video-frame {
			position: relative;
			padding-top: 1.5625rem;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}  //  video-frame

		


		//  BEGIN ABOUT PAGE

		.about-text {
			width: 60%;
			margin: 0 auto;
			
			font-size: 1.4rem;
			line-height: 2rem; 

			@include tablet {
				width: 80%;
			}

			@include mobile {
				width: 90%;
			}

			img {
				float: right;
				margin-left: 10px;
				margin-bottom: 10px;
				max-width: 50%;
				border-radius: 50%;
			}

			.octopus-wrapper {
				.octopus {
					display: inline-block;
					float: left;
					width: 20%;

					img {
						max-width: 90%;
					}
				}	

				.octopus-bubble {
					float: left;
					width: 60%;

					@include tablet {
						width: 70%;
					}

					@include mobile {
						width: 80%;
					}


					.triangle-isosceles {
						display: flex;
						align-items: center;
						position:relative;
						padding:5px 10px 5px 10px;
						margin:0;
						color:#ffffff;
						font-size: 1.85rem;
						line-height: 2rem;
						font-family: 'Coming Soon', arial, sans-serif;
						-webkit-border-radius:10px;
						-moz-border-radius:10px;
						border-radius:10px;
						margin-left:50px;
						background:#f3961c;

						@include mobile {
							font-size: 1.2rem;
							line-height: 1.4rem;
							margin-left: 15px;
						}

						img {
							display: inline-block;
							float: left;

							@include mobile {
								width: 50%;
							}						
						}
					}  // triangle-isosceles

					.triangle-isosceles:after {
						content:"";
						position:absolute;
						bottom:-15px; /* value = - border-top-width - border-bottom-width */
						left:50px; /* controls horizontal position */
						border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
						border-style:solid;
						border-color:#f3961c transparent;
						/* reduce the damage in FF3.0 */
						display:block;
						width:0;
						top:30px; /* controls vertical position */
						left:-50px; /* value = - border-left-width - border-right-width */
						bottom:auto;
						border-width:10px 50px 10px 0;
						border-color:transparent #f3961c;

						@include mobile {
							left: -30px;
							border-width: 10px 30px 10px 0;
						}
					}

				}  // octopus-bubble
			}  //octopus-wrapper

		}  //  about-text	


		.fundraisers-text {

			h2 {
				color: green;
			 	font-family: 'coming soon', helvetica, sans-serif;
			 	font-size: 2.4rem;
			 	line-height: 3rem;
			 	text-align: center;
			}

			.fundraisers-text-wrapper {
				width:60%;
				margin: 0 auto;
				font-family: arial, sans-serif;
			 	font-size: 1.4rem;
			 	line-height: 2rem;
			 	margin-bottom: 7.5%;

			 	@include tablet {
			 		width: 70%;
			 	}

			 	@include mobile {
			 		width: 80%;
			 		font-size: 1.2rem;
			 		line-height: 1.6rem;
			 	}

			 	.red {
			 		color: red;
			 	}

			}

			.fundraisers-animal-wrapper {

				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 7.5%;

				.fundraisers-animal {
					display: inline-block;
					float: left;
					width: 20%;
					text-align: center;


					img {
						max-width: 90%;
					}

					@include tablet {
						width: 30%;
					}
				}	

				.fundraisers-animal-bubble {
					float: left;
					width: 40%;

					@include tablet {
						width: 45%;
					}


					.triangle-isosceles, .triangle-isosceles-right {
						display: flex;
						align-items: center;
						position:relative;
						padding:5px 10px 5px 10px;
						margin:0;
						color:#ffffff;
						font-size: 1.85rem;
						line-height: 2rem;
						font-family: 'Coming Soon', arial, sans-serif;
						-webkit-border-radius:10px;
						-moz-border-radius:10px;
						border-radius:10px;
						margin-left:50px;
						background:#f3961c;

						@include mobile {
							font-size: 1.2rem;
							line-height: 1.4rem;
							margin-left: 15px;
						}

						img {
							display: inline-block;
							float: left;

							@include mobile {
								width: 50%;
							}						
						}
					}  // triangle-isosceles

					.triangle-isosceles:after {
						content:"";
						position:absolute;
						bottom:-15px; /* value = - border-top-width - border-bottom-width */
						left:50px; /* controls horizontal position */
						border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
						border-style:solid;
						border-color:#f3961c transparent;
						/* reduce the damage in FF3.0 */
						display:block;
						width:0;
						top:30px; /* controls vertical position */
						left:-50px; /* value = - border-left-width - border-right-width */
						bottom:auto;
						border-width:10px 50px 10px 0;
						border-color:transparent #f3961c;

						@include tablet {
							top: 80px;
						}

						@include mobile {
							left: -30px;
							top: 60px;
							border-width: 10px 30px 10px 0;
						}
					}

					.triangle-isosceles-right {
						margin-left: 0;
						margin-right: 50px;
					}

					.triangle-isosceles-right:after {
						content:"";
						position:absolute;
						
						border-style:solid;
						border-color:#f3961c transparent;
						/* reduce the damage in FF3.0 */
						display:block;
						width:0;
						left:-50px; /* value = - border-left-width - border-right-width */
						bottom:auto;
						border-width:10px 50px 10px 0;
						border-color:transparent #f3961c;
						top:30px; /* controls vertical position */
						right:-50px; /* value = - border-left-width - border-right-width */
						bottom:auto;
						left:auto;
						border-width:10px 0 10px 50px;
						border-color:transparent #f3961c;

						@include tablet {
							top: 50px;
						}

						@include mobile-plus {
							top: 75px;
						}

						@include mobile {
							top: 90px;
						}
					}

				}  // fundraisers-animal-bubble
			}  //  fundraisers-animal-wrapper

			.fundraisers-product-wrapper {
				width: 30%;
				float: left;

				.fundraisers-product {
					float: left;
					width: 50%;

					img {
						max-width: 100%;
					}

					@include mobile-plus {
						float: none;
						width: 90%;
						margin: 0 auto;
					}
				}
			}	
		}  //  fundraisers-text


		.shop-text {

			h3 {
				font-size: 1.8rem;
				line-height: 2.5rem;
				text-align: center;
			}

			p {
				text-align: right;
			}

			h2 {
				text-align: center;
				font-size: 2.8rem;
				font-weight: bold;
				color: green;
				font-family: 'Coming Soon', arial, sans-serif;
			}

			.shop-subnav {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 90%;
				margin: 0 auto;
				
				@include tablet {
					display: block;
					width: 90%;
					margin: 0 auto;
				}

				ul{
					width: 24rem;
					float: left;

					@include tablet {
						width: auto;
					}

					li {
						list-style: none;
						margin-bottom: 7.5%;
						font-size: 1.4rem;
						line-height: 2rem;

						@include tablet {
							font-size: 1.2rem;
						}

						a {
							
						}
					}
				}
			}

			.product-row {
				display: flex;
				justify-content: center;

				.product-item-wrapper {
					display: flex;
					justify-content: center;
					align-items: center;
					float: left;
					width: 25%;
					margin: 3%;

					@include mobile {
						margin: 5%;
					}

					a {
						text-align: center;
					}

					.product-description {
						margin-top: 5%;
						font-size: 1.2rem;
						line-height: 1.6rem;
						text-align: center;
					}



				}  //  product-item-wrapper
			}  //  product-row

			

		}  // shop-text

		.blog-text {
			width: 60%;
			margin: 0 auto;

			@include tablet {
				width: 70%;
			}

			@include mobile-plus {
				width: 80%;
			}

			.blog-post {
				margin-bottom: 7.5%;

				.blog-post-header {
					margin-bottom: 5%;

					h2 {
						font-size: 2.2rem;
						line-height: 3rem;
						color: green;
			 			font-family: 'coming soon', helvetica, sans-serif;
			 			margin-bottom: 0;
			 			padding-bottom: 0;
					}

					.blog-post-date {
						margin-top: 1%;
						padding-top: 0;
						font-size: 1rem;
						line-height: 1.2rem;
						color: gray;
						font-style: italic;

					}  //  blog-post-date
				}  //  blog-post-header

				.blog-post-body {
					font-size: 1.4rem;
					line-height: 2rem;

					img {
						float: right;
						margin-left: 10px;
						margin-bottom: 10px;
						max-width: 50%;
					}

					.left-img {
						float: left;
						margin-right: 20px;
						margin-left: 0;
						border-radius: 5%;
					}
					
					.float-images {
						width: 90%;
						display: flex;
						justify-content: center;
						margin: 0 auto;

						@include tablet {
							display: block;
							text-align: center;
						}

						img {
							display: flex;
							height: auto;
							max-width: 90%;
							border-radius: 5%;

							@include tablet {
								display: block;
								margin-bottom: 5%;
								text-align: center;
							}
						}
					}  // float-images

					hr {
						margin-top: 7.5%;
						margin-bottom: 7.5%;
					}

				}  //  blog-post-body

			}  //  blog-post
		}  //  blog-text


		.contact-text {
			
			.fish-wrapper {
				display: flex;
				align-items: center;
				width: 60%;
				margin: 0 auto 5% auto;

				@include tablet {
					width: 80%;
				}

				@include mobile-plus {
					width: 90%;
				}

				.fish {
					display: inline-block;
					float: left;

					img {
						width: 100%;
					}
				}  // fish	

				.fish-bubble {
					float: left;


					.triangle-isosceles {
						display: flex;
						align-items: center;
						position:relative;
						padding:15px;
						margin:0;
						color:#ffffff;
						font-size: 1.85rem;
						line-height: 2.6rem;
						font-family: 'Coming Soon', arial, sans-serif;
						-webkit-border-radius:10px;
						-moz-border-radius:10px;
						border-radius:10px;
						margin-left:50px;
						background:#f3961c;

						@include mobile {
							font-size: 1.2rem;
							line-height: 1.4rem;
							margin-left: 15px;
						}

						img {
							display: inline-block;
							float: left;

							@include mobile {
								width: 50%;
							}						
						}
					}  // triangle-isosceles

					.triangle-isosceles:after {
						content:"";
						position:absolute;
						bottom:-15px; /* value = - border-top-width - border-bottom-width */
						left:50px; /* controls horizontal position */
						border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
						border-style:solid;
						border-color:#f3961c transparent;
						/* reduce the damage in FF3.0 */
						display:block;
						width:0;
						top:30px; /* controls vertical position */
						left:-50px; /* value = - border-left-width - border-right-width */
						bottom:auto;
						border-width:10px 50px 10px 0;
						border-color:transparent #f3961c;

						@include mobile {
							left: -30px;
							border-width: 10px 30px 10px 0;
						}
					}  //  triangle-isosceles: after

				}  // fish-bubble

			}  //  fish-wrapper	

			form {
				display: block;
				width: 60%;
				margin: 0 auto;


				input {
					margin-bottom: 10%;
					width: 90%;
					padding: 1rem;
					font-size: 1.4rem;
					line-height: 2rem;
				}

				textarea {
					width: 90%;
					padding: 1rem;
					font-size: 1.4rem;
					line-height: 2rem;
				}

				input[type=submit], input[type=reset] {
				    padding:2% 5%; 
				    margin-right: 5%;
				    float: left;
				   
				    background-color: green; 
				    border:0 none;
				    color: white;
				    width: 125px;
				    height: 125px;
				    cursor:pointer;
				    -webkit-border-radius: 50%;
				    border-radius: 50%; 

				    &:hover, &:active {

						color: red;
					}

					@include tablet {
						width: 90px;
						height: 90px;
					}
				}

				input[type=reset] {
					background-color: gray;
				}

			}  //  form
		}


	}  //  content-container	

	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 4%;

		.facebook-wrapper {
			display: flex;
			align-items: center;
			float: left;

			.snail {
				display: inline-block;
				float: left;

				img {
					max-width: 90%;
				}
			}	

			.facebook-bubble {
				float: left;


				.triangle-isosceles {
					display: flex;
					align-items: center;
					position:relative;
					padding:15px;
					margin:0;
					color:#ffffff;
					font-size: 1.85rem;
					line-height: 2rem;
					font-family: 'Coming Soon', arial, sans-serif;
					-webkit-border-radius:10px;
					-moz-border-radius:10px;
					border-radius:10px;
					margin-left:50px;
					background:#f3961c;

					@include mobile {
						font-size: 1.2rem;
						line-height: 1.4rem;
						margin-left: 15px;
					}

					img {
						display: inline-block;
						float: left;

						@include mobile {
							width: 50%;
						}						
					}
				}  // triangle-isosceles

				.triangle-isosceles:after {
					content:"";
					position:absolute;
					bottom:-15px; /* value = - border-top-width - border-bottom-width */
					left:50px; /* controls horizontal position */
					border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
					border-style:solid;
					border-color:#f3961c transparent;
					/* reduce the damage in FF3.0 */
					display:block;
					width:0;
					top:30px; /* controls vertical position */
					left:-50px; /* value = - border-left-width - border-right-width */
					bottom:auto;
					border-width:10px 50px 10px 0;
					border-color:transparent #f3961c;

					@include mobile {
						left: -30px;
						border-width: 10px 30px 10px 0;
					}
				}

			}  // facebook-bubble

			
		}  // facebook-wrapper

		.copyright {
			float: left;
			margin-left: 30px;

			@include mobile {
				float: none;
				margin-left: 0;
				text-align: center;
			}
		}
	}  //  footer

	



	

	.group:after {
	  content: "";
	  display: table;
	  clear: both;

	}

	.slicknav_menu {
		display:none;
		background-color: #ffffff;
	}

	.slicknav_btn {
		background-color: purple;
	}

	.slicknav_nav {

		text-align: center;
		
		li {

			font-size: 1.5rem;
			margin-bottom: 10%;	

			a {
				color: purple;
				font-family: Chewy, helvetica, arial; 

				&:hover, &:active {

					color: red;
				}

			}
		}  // li

		
	}  // slicknav_nav

	.sy-controls li a:after {
				background-color: rgba(44, 184, 75, 0.72);
			}
		


	@media screen and (max-width: 550px) {
		/* #menu is the original menu */
		#menu {
			display:none;
			height: 0;
		}
		
		.slicknav_menu {
			display:block;
		}
	}

	/* Container DIV */
		.simply-scroll { 
			width: 800px;
			height: 600px;
			margin-bottom: 1em;
		}

		/* Clip DIV */
		.simply-scroll .simply-scroll-clip {
			width: 800px;
			height: 600px;
		}
			
		/* Explicitly set height/width of each list item */	
		.simply-scroll .simply-scroll-list li {
			float: left; /* Horizontal scroll only */
			width: 800px;
			height: 600px;
		}


} // closes body