@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
body {
  background-color: #fff;
  /* Container DIV */
  /* Clip DIV */
  /* Explicitly set height/width of each list item */ }
  body img {
    max-width: 100%; }
  body .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2.5% 2.5% 2.5%; }
  body .header {
    margin-bottom: 2rem; }
    body .header .top-images {
      position: relative; }
      body .header .top-images div.bx-wrapper {
        margin-top: 25px;
        max-width: 1200px;
        position: relative;
        z-index: 1; }
        body .header .top-images div.bx-wrapper .bx-viewport {
          box-shadow: none;
          border: none;
          min-height: 170px; }
          @media (max-width: 500px) {
            body .header .top-images div.bx-wrapper .bx-viewport {
              min-height: 80px; } }
      body .header .top-images .logo-container {
        text-align: center;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 5px; }
        body .header .top-images .logo-container img {
          max-width: 60%; }
          @media (max-width: 900px) {
            body .header .top-images .logo-container img {
              max-width: 70%; } }
        @media (max-width: 500px) {
          body .header .top-images .logo-container {
            top: 0; } }
      body .header .top-images .header-drawings-left, body .header .top-images .header-drawings-right {
        float: left;
        text-align: left;
        width: 15%; }
        body .header .top-images .header-drawings-left img, body .header .top-images .header-drawings-right img {
          max-width: 90%; }
        @media (max-width: 500px) {
          body .header .top-images .header-drawings-left, body .header .top-images .header-drawings-right {
            display: none; } }
      body .header .top-images .header-drawings-right {
        text-align: right; }
    body .header nav ul {
      display: flex;
      justify-content: center; }
      @media (max-width: 900px) {
        body .header nav ul {
          padding-left: 0; } }
      body .header nav ul li {
        float: left;
        list-style: none;
        margin-right: 7.5%;
        font-family: Chewy, helvetica, arial;
        font-size: 2rem; }
        body .header nav ul li:last-of-type {
          margin-right: 0; }
        @media (max-width: 900px) {
          body .header nav ul li {
            font-size: 1.65rem;
            margin-right: 5%; } }
        body .header nav ul li a {
          text-decoration: none;
          color: purple; }
          body .header nav ul li a:hover, body .header nav ul li a:active {
            color: red; }
  body .content-container {
    font-family: helvetica, arial, sans-serif; }
    body .content-container .homepage-slider {
      width: 70%;
      float: left;
      margin-bottom: 5%; }
      @media (max-width: 900px) {
        body .content-container .homepage-slider {
          width: 100%;
          float: none; } }
      body .content-container .homepage-slider .bxslider img {
        margin: 0 auto; }
    body .content-container .homepage-callout {
      width: 28%;
      float: left;
      padding: 0 0 0 2%; }
      body .content-container .homepage-callout .penguin {
        width: 60%;
        margin: 0 auto; }
        body .content-container .homepage-callout .penguin img {
          width: 80%; }
        @media (max-width: 900px) {
          body .content-container .homepage-callout .penguin {
            width: 90%; } }
        @media (max-width: 500px) {
          body .content-container .homepage-callout .penguin {
            text-align: right; } }
      body .content-container .homepage-callout .triangle-obtuse {
        position: relative;
        padding: 15px;
        margin: 0 0 1em;
        color: #fff;
        font-size: 2rem;
        line-height: 2.5rem;
        background: #f3961c;
        border-radius: 10px;
        font-family: 'Coming Soon', arial, sans-serif; }
        @media (max-width: 900px) {
          body .content-container .homepage-callout .triangle-obtuse {
            font-size: 1.2rem;
            line-height: 1.8rem;
            padding: 10px; } }
        @media (max-width: 500px) {
          body .content-container .homepage-callout .triangle-obtuse {
            font-size: 1rem;
            line-height: 1.5rem;
            padding: 8px; } }
      body .content-container .homepage-callout .triangle-obtuse:before {
        content: "";
        position: absolute;
        bottom: -20px;
        /* value = - border-top-width - border-bottom-width */
        left: 60px;
        /* controls horizontal position */
        border: 0;
        border-right-width: 30px;
        /* vary this value to change the angle of the vertex */
        border-bottom-width: 20px;
        /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
        border-style: solid;
        border-color: transparent #f3961c;
        /* reduce the damage in FF3.0 */
        display: block;
        width: 0; }
        @media (max-width: 900px) {
          body .content-container .homepage-callout .triangle-obtuse:before {
            left: 6px; } }
      @media (max-width: 900px) {
        body .content-container .homepage-callout {
          float: right; } }
    body .content-container .homepage-text {
      font-family: arial, sans-serif;
      font-size: 1.4rem;
      line-height: 2rem;
      width: 80%;
      margin: 5% auto 0 auto;
      display: block;
      clear: left; }
      body .content-container .homepage-text h1 {
        display: inline-block;
        color: green;
        font-family: rancho, helvetica, sans-serif;
        font-size: 3rem;
        line-height: 3.4rem;
        margin: 0; }
      @media (max-width: 900px) {
        body .content-container .homepage-text {
          width: 70%;
          margin: 0;
          float: right;
          display: inline-block;
          font-size: 1.2rem;
          line-height: 1.8rem; } }
    body .content-container .video-wrapper {
      max-width: 70%;
      margin: 7% auto; }
    body .content-container .video-frame {
      position: relative;
      padding-top: 1.5625rem;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden; }
      body .content-container .video-frame iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    body .content-container .about-text {
      width: 60%;
      margin: 0 auto;
      font-size: 1.4rem;
      line-height: 2rem; }
      @media (max-width: 900px) {
        body .content-container .about-text {
          width: 80%; } }
      @media (max-width: 500px) {
        body .content-container .about-text {
          width: 90%; } }
      body .content-container .about-text img {
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;
        max-width: 50%;
        border-radius: 50%; }
      body .content-container .about-text .octopus-wrapper .octopus {
        display: inline-block;
        float: left;
        width: 20%; }
        body .content-container .about-text .octopus-wrapper .octopus img {
          max-width: 90%; }
      body .content-container .about-text .octopus-wrapper .octopus-bubble {
        float: left;
        width: 60%; }
        @media (max-width: 900px) {
          body .content-container .about-text .octopus-wrapper .octopus-bubble {
            width: 70%; } }
        @media (max-width: 500px) {
          body .content-container .about-text .octopus-wrapper .octopus-bubble {
            width: 80%; } }
        body .content-container .about-text .octopus-wrapper .octopus-bubble .triangle-isosceles {
          display: flex;
          align-items: center;
          position: relative;
          padding: 5px 10px 5px 10px;
          margin: 0;
          color: #ffffff;
          font-size: 1.85rem;
          line-height: 2rem;
          font-family: 'Coming Soon', arial, sans-serif;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          margin-left: 50px;
          background: #f3961c; }
          @media (max-width: 500px) {
            body .content-container .about-text .octopus-wrapper .octopus-bubble .triangle-isosceles {
              font-size: 1.2rem;
              line-height: 1.4rem;
              margin-left: 15px; } }
          body .content-container .about-text .octopus-wrapper .octopus-bubble .triangle-isosceles img {
            display: inline-block;
            float: left; }
            @media (max-width: 500px) {
              body .content-container .about-text .octopus-wrapper .octopus-bubble .triangle-isosceles img {
                width: 50%; } }
        body .content-container .about-text .octopus-wrapper .octopus-bubble .triangle-isosceles:after {
          content: "";
          position: absolute;
          bottom: -15px;
          /* value = - border-top-width - border-bottom-width */
          left: 50px;
          /* controls horizontal position */
          border-width: 15px 15px 0;
          /* vary these values to change the angle of the vertex */
          border-style: solid;
          border-color: #f3961c transparent;
          /* reduce the damage in FF3.0 */
          display: block;
          width: 0;
          top: 30px;
          /* controls vertical position */
          left: -50px;
          /* value = - border-left-width - border-right-width */
          bottom: auto;
          border-width: 10px 50px 10px 0;
          border-color: transparent #f3961c; }
          @media (max-width: 500px) {
            body .content-container .about-text .octopus-wrapper .octopus-bubble .triangle-isosceles:after {
              left: -30px;
              border-width: 10px 30px 10px 0; } }
    body .content-container .fundraisers-text h2 {
      color: green;
      font-family: rancho, helvetica, sans-serif;
      font-size: 3rem;
      line-height: 3.4rem;
      text-align: center; }
    body .content-container .fundraisers-text .fundraisers-text-wrapper {
      width: 60%;
      margin: 0 auto;
      font-family: arial, sans-serif;
      font-size: 1.4rem;
      line-height: 2rem;
      margin-bottom: 7.5%; }
      @media (max-width: 900px) {
        body .content-container .fundraisers-text .fundraisers-text-wrapper {
          width: 70%; } }
      @media (max-width: 500px) {
        body .content-container .fundraisers-text .fundraisers-text-wrapper {
          width: 80%;
          font-size: 1.2rem;
          line-height: 1.6rem; } }
    body .content-container .fundraisers-text .fundraisers-animal-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 7.5%; }
      body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal {
        display: inline-block;
        float: left;
        width: 20%;
        text-align: center; }
        body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal img {
          max-width: 90%; }
        @media (max-width: 900px) {
          body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal {
            width: 30%; } }
      body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble {
        float: left;
        width: 40%; }
        @media (max-width: 900px) {
          body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble {
            width: 45%; } }
        body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles, body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles-right {
          display: flex;
          align-items: center;
          position: relative;
          padding: 5px 10px 5px 10px;
          margin: 0;
          color: #ffffff;
          font-size: 1.85rem;
          line-height: 2rem;
          font-family: 'Coming Soon', arial, sans-serif;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          margin-left: 50px;
          background: #f3961c; }
          @media (max-width: 500px) {
            body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles, body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles-right {
              font-size: 1.2rem;
              line-height: 1.4rem;
              margin-left: 15px; } }
          body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles img, body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles-right img {
            display: inline-block;
            float: left; }
            @media (max-width: 500px) {
              body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles img, body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles-right img {
                width: 50%; } }
        body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles:after {
          content: "";
          position: absolute;
          bottom: -15px;
          /* value = - border-top-width - border-bottom-width */
          left: 50px;
          /* controls horizontal position */
          border-width: 15px 15px 0;
          /* vary these values to change the angle of the vertex */
          border-style: solid;
          border-color: #f3961c transparent;
          /* reduce the damage in FF3.0 */
          display: block;
          width: 0;
          top: 30px;
          /* controls vertical position */
          left: -50px;
          /* value = - border-left-width - border-right-width */
          bottom: auto;
          border-width: 10px 50px 10px 0;
          border-color: transparent #f3961c; }
          @media (max-width: 900px) {
            body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles:after {
              top: 80px; } }
          @media (max-width: 500px) {
            body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles:after {
              left: -30px;
              top: 60px;
              border-width: 10px 30px 10px 0; } }
        body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles-right {
          margin-left: 0;
          margin-right: 50px; }
        body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles-right:after {
          content: "";
          position: absolute;
          border-style: solid;
          border-color: #f3961c transparent;
          /* reduce the damage in FF3.0 */
          display: block;
          width: 0;
          left: -50px;
          /* value = - border-left-width - border-right-width */
          bottom: auto;
          border-width: 10px 50px 10px 0;
          border-color: transparent #f3961c;
          top: 30px;
          /* controls vertical position */
          right: -50px;
          /* value = - border-left-width - border-right-width */
          bottom: auto;
          left: auto;
          border-width: 10px 0 10px 50px;
          border-color: transparent #f3961c; }
          @media (max-width: 900px) {
            body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles-right:after {
              top: 50px; } }
          @media (max-width: 600px) {
            body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles-right:after {
              top: 75px; } }
          @media (max-width: 500px) {
            body .content-container .fundraisers-text .fundraisers-animal-wrapper .fundraisers-animal-bubble .triangle-isosceles-right:after {
              top: 90px; } }
    body .content-container .fundraisers-text .fundraisers-product-wrapper {
      width: 30%;
      float: left; }
      body .content-container .fundraisers-text .fundraisers-product-wrapper .fundraisers-product {
        float: left;
        width: 50%; }
        body .content-container .fundraisers-text .fundraisers-product-wrapper .fundraisers-product img {
          max-width: 100%; }
        @media (max-width: 600px) {
          body .content-container .fundraisers-text .fundraisers-product-wrapper .fundraisers-product {
            float: none;
            width: 90%;
            margin: 0 auto; } }
    body .content-container .shop-text h3 {
      font-size: 1.8rem;
      line-height: 2.5rem;
      text-align: center; }
    body .content-container .shop-text .product-row {
      display: flex;
      justify-content: center; }
      body .content-container .shop-text .product-row .product-item-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        width: 25%;
        margin: 5%; }
        body .content-container .shop-text .product-row .product-item-wrapper a {
          text-align: center; }
        body .content-container .shop-text .product-row .product-item-wrapper .product-description {
          margin-top: 5%;
          font-size: 1.2rem;
          line-height: 1.6rem;
          text-align: center; }
  body .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%; }
    body .footer .facebook-wrapper {
      display: flex;
      align-items: center;
      float: left; }
      body .footer .facebook-wrapper .snail {
        display: inline-block;
        float: left; }
        body .footer .facebook-wrapper .snail img {
          max-width: 90%; }
      body .footer .facebook-wrapper .facebook-bubble {
        float: left; }
        body .footer .facebook-wrapper .facebook-bubble .triangle-isosceles {
          display: flex;
          align-items: center;
          position: relative;
          padding: 15px;
          margin: 0;
          color: #ffffff;
          font-size: 1.85rem;
          line-height: 2rem;
          font-family: 'Coming Soon', arial, sans-serif;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          margin-left: 50px;
          background: #f3961c; }
          @media (max-width: 500px) {
            body .footer .facebook-wrapper .facebook-bubble .triangle-isosceles {
              font-size: 1.2rem;
              line-height: 1.4rem;
              margin-left: 15px; } }
          body .footer .facebook-wrapper .facebook-bubble .triangle-isosceles img {
            display: inline-block;
            float: left; }
            @media (max-width: 500px) {
              body .footer .facebook-wrapper .facebook-bubble .triangle-isosceles img {
                width: 50%; } }
        body .footer .facebook-wrapper .facebook-bubble .triangle-isosceles:after {
          content: "";
          position: absolute;
          bottom: -15px;
          /* value = - border-top-width - border-bottom-width */
          left: 50px;
          /* controls horizontal position */
          border-width: 15px 15px 0;
          /* vary these values to change the angle of the vertex */
          border-style: solid;
          border-color: #f3961c transparent;
          /* reduce the damage in FF3.0 */
          display: block;
          width: 0;
          top: 30px;
          /* controls vertical position */
          left: -50px;
          /* value = - border-left-width - border-right-width */
          bottom: auto;
          border-width: 10px 50px 10px 0;
          border-color: transparent #f3961c; }
          @media (max-width: 500px) {
            body .footer .facebook-wrapper .facebook-bubble .triangle-isosceles:after {
              left: -30px;
              border-width: 10px 30px 10px 0; } }
    body .footer .copyright {
      float: left;
      margin-left: 30px; }
      @media (max-width: 500px) {
        body .footer .copyright {
          float: none;
          margin-left: 0;
          text-align: center; } }
  body .group:after {
    content: "";
    display: table;
    clear: both; }
  body .slicknav_menu {
    display: none;
    background-color: #ffffff; }
  body .slicknav_btn {
    background-color: purple; }
  body .slicknav_nav {
    text-align: center; }
    body .slicknav_nav li {
      font-size: 1.5rem;
      margin-bottom: 10%; }
      body .slicknav_nav li a {
        color: purple;
        font-family: Chewy, helvetica, arial; }
        body .slicknav_nav li a:hover, body .slicknav_nav li a:active {
          color: red; }
  @media screen and (max-width: 550px) {
    body {
      /* #menu is the original menu */ }
      body #menu {
        display: none;
        height: 0; }
      body .slicknav_menu {
        display: block; } }
  body .simply-scroll {
    width: 800px;
    height: 600px;
    margin-bottom: 1em; }
  body .simply-scroll .simply-scroll-clip {
    width: 800px;
    height: 600px; }
  body .simply-scroll .simply-scroll-list li {
    float: left;
    /* Horizontal scroll only */
    width: 800px;
    height: 600px; }
